/*Project: Image Encrypt and Decrypt*/
/*Contributers: Abraham Medina, Ethan Ward, Bret Stine*/
/*Class: CST 205-02 Spring 2017*/
/*Date: March 16, 2017*/
/*Abstract: This program allows the user to upload an image to a webpage and allows them to encrypt of decrypt the image.*/
/*Github: https://github.com/abrahamleyva/CST_205_ImageEncryption*/

.image {
    width: 400px;
}
.main {
    background-color: #B77AAB;
    border: 3px solid black;
    text-align: center;
    width: 500px;
    margin: auto;
}
body {
    background-color: #7A296B;
}
.padding {
    margin: 10px;
}
.center {
    text-align: center;
}
.image {
    height: 500px;
}