<!--Project: Image Encrypt and Decrypt-->
<!--Contributers: Abraham Medina, Ethan Ward, Bret Stine-->
<!--Class: CST 205-02 Spring 2017-->
<!--Date: March 16, 2017-->
<!--Abstract: This program allows the user to upload an image to a webpage and allows them to encrypt of decrypt the image.-->
<!--Github: https://github.com/abrahamleyva/CST_205_ImageEncryption-->

<!DOCTYPE HTML>
<html>
    <head>
        <title>Decision</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div class = "main">
            <h1>Encrypt-Decrypt</h1>
            <div class = "padding center">
                <img src = "/static/image.png" class = "image">
                <div class = "padding">
                    <form action = "{{url_for('encryptDecrypt')}}" method = "POST">
                        <input type = "submit" value = "Submit">
                    </form>
                    <h4>This may take a minute</h4>
                </div>
            </div>
        </div>
    </body>
</html>