<!DOCTYPE HTML>
<html>
    <head>
        <title>Desition</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div class = "main">
            <h1>Encrypt or Decrypt</h1>
            <div class = "padding center">
                <img src = "/static/image.png" class = "image">
                <form action = "{{url_for('encrypt')}}" method = "POST">
                    <input type = "submit" value = "Encrypt">
                </form>
                <form action = "{{url_for('decrypt')}}" method = "POST">
                    <input type = "submit" value = "Decrypt">
                </form>
            </div>
        </div>
    </body>
</html>