<!--Project: Image Encrypt and Decrypt-->
<!--Contributers: Abraham Medina, Ethan Ward, Bret Stine-->
<!--Class: CST 205-02 Spring 2017-->
<!--Date: March 16, 2017-->
<!--Abstract: This program allows the user to upload an image to a webpage and allows them to encrypt of decrypt the image.-->
<!--Github: https://github.com/abrahamleyva/CST_205_ImageEncryption-->

<!DOCTYPE html>
<html>
    <head>
        <title>Encrypt and Decrypt</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div class = "main">
            <h1>Encrypted-Decrypted</h1>
            <div class = "padding center">
                <!--This displays the final image-->
                <img src = "/static/finalImage.png" class = "image">
                <h3>(Right Click to Save As)</h3>
            </div>
        </div>
    </body>
</html>