<!--Project: Image Encrypt and Decrypt-->
<!--Contributers: Abraham Medina, Ethan Ward, Bret Stine-->
<!--Class: CST 205-02 Spring 2017-->
<!--Date: March 16, 2017-->
<!--Abstract: This program allows the user to upload an image to a webpage and allows them to encrypt of decrypt the image.-->
<!--Github: https://github.com/abrahamleyva/CST_205_ImageEncryption-->

<!DOCTYPE HTML>
<html>
    <head>
        <title>Image Security</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div class = "main">
            <h1>Upload Image</h1>
            <div class = "padding">
                <!--Form the redirects to decision.html once an image is submited-->
                <form id = "upload-form" action = "{{url_for('decision')}}" method = "POST" enctype = "multipart/form-data">
                    <input type = "file" name = "file" accept = "image/*">
                    <input type = "submit" value = "Upload">
                </form>
            </div>
        </div>
    </body>
</html>
